@charset "UTF-8";
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.buscar {
  display: table; }
  .buscar input {
    background: none;
    border: none;
    outline: none;
    width: 28px;
    min-width: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    line-height: 18px;
    margin: 5px 0;
    font-size: 14px;
    -webkit-appearance: none;
    font-family: 'Mukta Malar';
    transition: all .6s ease;
    cursor: pointer;
    color: #FFF1E6; }
    .buscar input + div {
      position: relative;
      height: 28px;
      width: 100%;
      margin: -28px 0 0 0; }
      .buscar input + div svg {
        display: block;
        position: absolute;
        height: 28px;
        width: 160px;
        right: 0;
        top: 0;
        fill: none;
        stroke: #FFF1E6;
        stroke-width: 1.5px;
        stroke-dashoffset: 271.908;
        stroke-dasharray: 59 212.908;
        transition: all .6s ease; }
    .buscar input:not(:placeholder-shown), .buscar input:focus {
      width: 160px;
      padding: 0 4px;
      cursor: text; }
      .buscar input:not(:placeholder-shown) + div svg, .buscar input:focus + div svg {
        stroke-dasharray: 150 212.908;
        stroke-dashoffset: 300; }

::selection {
  background: rgba(255, 255, 255, 0.2); }

::-moz-selection {
  background: rgba(255, 255, 255, 0.2); }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

header #btn-menu {
  display: none; }

header label {
  display: none;
  width: 26px;
  height: 26px;
  padding: 10px 20px; }

header:hover {
  cursor: pointer;
  color: #CB997E; }

header nav {
  width: 100%;
  margin: 0 auto; }
  header nav ul {
    list-style: none;
    display: flex; }
    header nav ul .menu {
      text-align: center;
      flex-grow: 2;
      position: relative;
      padding: 20px;
      margin: 5px; }
      header nav ul .menu:hover ul {
        display: block; }
      header nav ul .menu a {
        text-decoration: none;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        color: #7D5F4E;
        font-size: 0.8em;
        font-weight: 300; }
      header nav ul .menu a:hover {
        font-weight: 500;
        color: black; }
      header nav ul .menu ul {
        position: absolute;
        display: none; }
        header nav ul .menu ul .submenu {
          text-align: center;
          background-color: #FFF1E6;
          display: flex;
          flex-direction: row;
          margin: 0.3rem;
          padding: 1rem 4rem; }

/*portada index*/
.coleccion .coleccion_portada .fotoPortada {
  width: 100%; }

/*bloques de colores prendas en index*/
.grid_productos {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto); }
  .grid_productos .productosHijo {
    padding: 3rem; }
    .grid_productos .productosHijo:hover {
      opacity: 0.4; }
    .grid_productos .productosHijo a {
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: 300;
      text-align: center;
      text-decoration: none; }
  .grid_productos .sueter {
    color: #7D5F4E;
    background-color: #FFF1E6; }
  .grid_productos .vestidos {
    color: #FFF1E6;
    background-color: #CB997E; }
  .grid_productos .kimonos {
    color: #7D5F4E;
    background-color: #EDDCD2; }
  .grid_productos .camisas {
    color: #FFF1E6;
    background-color: #7D5F4E; }

/* 3 fotos sale index*/
.contenedor_sale {
  margin-top: 1.9rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem; }
  .contenedor_sale article {
    margin: 1rem; }
    .contenedor_sale article h3 {
      text-transform: uppercase;
      font-size: 1.7em;
      text-align: center;
      font-weight: 300; }
  .contenedor_sale .sale {
    text-align: center;
    padding: 0.8rem; }
    .contenedor_sale .sale img {
      width: 12.5rem;
      height: auto;
      border-radius: 45%;
      margin: 0.625rem;
      border: none; }
    .contenedor_sale .sale img:hover {
      opacity: 0.4; }
    .contenedor_sale .sale h4 {
      display: none; }
    .contenedor_sale .sale h4:hover {
      display: block;
      text-transform: uppercase;
      text-align: center;
      font-size: 1em;
      color: #7D5F4E; }
  .contenedor_sale article p {
    text-align: center;
    font-size: 1em; }

/*bloque marron recomendaciones index*/
.padre_recomendacion .recomendacion {
  color: #FFF1E6;
  background-color: #CB997E;
  padding: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline; }
  .padre_recomendacion .recomendacion .recomendacion_primera, .padre_recomendacion .recomendacion .recomendacion_segunda, .padre_recomendacion .recomendacion .recomendacion_tercera, .padre_recomendacion .recomendacion .recomendacion_cuarta {
    text-align: center;
    padding: 10px;
    margin: 10px; }
    .padre_recomendacion .recomendacion .recomendacion_primera h4, .padre_recomendacion .recomendacion .recomendacion_segunda h4, .padre_recomendacion .recomendacion .recomendacion_tercera h4, .padre_recomendacion .recomendacion .recomendacion_cuarta h4 {
      text-transform: uppercase;
      font-size: 1.1em;
      font-weight: 300;
      margin: 0.625rem; }
    .padre_recomendacion .recomendacion .recomendacion_primera p, .padre_recomendacion .recomendacion .recomendacion_segunda p, .padre_recomendacion .recomendacion .recomendacion_tercera p, .padre_recomendacion .recomendacion .recomendacion_cuarta p {
      font-family: 'Lato', sans-serif;
      font-weight: lighter;
      font-size: 0.8em; }

.padre_sesion {
  height: 60vh; }
  .padre_sesion .sesion {
    padding-top: 2rem;
    text-align: center;
    width: 60%;
    margin: auto; }
    .padre_sesion .sesion h1 {
      text-transform: uppercase;
      color: #7D5F4E;
      font-size: 1.2em;
      margin-bottom: 2rem; }
    .padre_sesion .sesion label {
      font-family: 'Lato', sans-serif;
      font-size: 0.9em; }
    .padre_sesion .sesion input {
      background-color: #FFFCF0;
      margin-bottom: 15px;
      width: 100%;
      border: 1px solid #c2c2c2;
      border-radius: 30px;
      border-color: #e5e5e5;
      height: 40px;
      padding: 0 9px; }
    .padre_sesion .sesion .recordar {
      width: 0.7rem; }
    .padre_sesion .sesion .iniciar {
      background-color: #F0EFEB;
      font-family: 'Cormorant', serif;
      text-transform: uppercase;
      color: #7D5F4E;
      width: 40%; }

section ol li a {
  color: #CB997E;
  font-family: 'Cormorant', serif;
  text-decoration: none; }

section .video {
  display: flex;
  padding: 20px;
  margin: 15px; }

section .texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
  padding: 20px; }
  section .texto h2 {
    text-transform: uppercase;
    color: #CB997E;
    font-weight: 200;
    font-size: 1.7em; }
  section .texto .todosJuntos {
    text-align: left;
    font-style: normal;
    color: #7D5F4E; }

.localesMarie {
  text-align: center;
  margin-bottom: 4rem; }
  .localesMarie #ubicacion {
    text-align: center;
    margin: 3rem; }
    .localesMarie #ubicacion h2 {
      text-transform: uppercase;
      color: #7D5F4E;
      font-weight: 200;
      font-size: 2em; }
      .localesMarie #ubicacion h2 .direccion {
        font-style: normal;
        color: #7D5F4E;
        font-family: 'Lato', sans-serif; }
  .localesMarie .locales .tiendas {
    margin-bottom: 3rem; }
    .localesMarie .locales .tiendas #tienda {
      margin: 1rem; }
    .localesMarie .locales .tiendas h3 {
      color: #7D5F4E;
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: 200; }
    .localesMarie .locales .tiendas .direccion {
      font-size: 0.8em;
      color: #7D5F4E;
      font-family: 'Lato', sans-serif; }

/*html nuevo*/
.nuevo {
  display: flex;
  align-items: center;
  margin-bottom: 4rem; }
  .nuevo div {
    text-align: center;
    margin: 1.25rem; }
    .nuevo div .subtitulo {
      margin-bottom: 1.25rem; }
    .nuevo div .clasico {
      text-transform: uppercase;
      font-size: 2em;
      padding: 0.625rem;
      margin-bottom: 0.625rem;
      animation-duration: 2s;
      animation-name: clasico; }

@keyframes clasico {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .nuevo div label:hover {
      font-weight: 500; }
  .nuevo .fotoNueva {
    width: 80%;
    height: 80%; }

.nuevoSegundoContenedor {
  text-align: center; }
  .nuevoSegundoContenedor #bajada {
    font-size: 1em;
    text-transform: uppercase; }

.contenedorSale {
  display: flex;
  justify-content: center;
  flex-direction: row; }
  .contenedorSale .hijoSale {
    display: flex;
    align-items: center; }
    .contenedorSale .hijoSale .unoFoto {
      margin: 3rem; }
      .contenedorSale .hijoSale .unoFoto .fotoSweater {
        border-radius: 45%; }
    .contenedorSale .hijoSale .salePrenda .titulo {
      text-transform: uppercase;
      color: #7D5F4E;
      font-size: 2em;
      font-weight: 200; }
    .contenedorSale .hijoSale .salePrenda #costo {
      display: inline-flex; }
      .contenedorSale .hijoSale .salePrenda #costo #precio {
        font-family: 'Lato', sans-serif;
        font-size: 1em;
        color: #EDDCD2;
        margin-right: 1rem;
        color: #CB997E; }
      .contenedorSale .hijoSale .salePrenda #costo #descuento {
        font-family: 'Lato', sans-serif;
        font-size: 0.8em;
        font-weight: 300; }
    .contenedorSale .hijoSale .salePrenda .contenedorTalles .lista {
      display: flex; }
      .contenedorSale .hijoSale .salePrenda .contenedorTalles .lista .itemTalle {
        list-style: none; }
        .contenedorSale .hijoSale .salePrenda .contenedorTalles .lista .itemTalle .letras {
          padding: 0.635rem;
          margin: 0 0.364rem 0 0;
          list-style: none;
          color: #CB997E;
          text-decoration: none;
          background-color: transparent;
          border: solid 1px #F0EFEB;
          border-radius: 30px;
          cursor: pointer; }
          .contenedorSale .hijoSale .salePrenda .contenedorTalles .lista .itemTalle .letras:hover {
            color: #7D5F4E;
            background-color: #bdbdbd; }
    .contenedorSale .hijoSale .salePrenda .contenedorColores .lista {
      display: flex; }
      .contenedorSale .hijoSale .salePrenda .contenedorColores .lista .itemTalle {
        list-style: none; }
        .contenedorSale .hijoSale .salePrenda .contenedorColores .lista .itemTalle .colorcito {
          cursor: pointer; }
          .contenedorSale .hijoSale .salePrenda .contenedorColores .lista .itemTalle .colorcito .bloque {
            border-radius: 50%;
            margin: 0.625rem; }
            .contenedorSale .hijoSale .salePrenda .contenedorColores .lista .itemTalle .colorcito .bloque:hover {
              border: 1px solid #CB997E; }
    .contenedorSale .hijoSale .salePrenda .iniciar {
      border: none;
      border-radius: 30px;
      font-family: 'Cormorant', serif;
      text-transform: uppercase;
      color: #7D5F4E;
      width: 40%; }

.devolucion div {
  margin: 1rem;
  padding: 2rem; }
  .devolucion div h3 {
    text-transform: uppercase;
    font-size: 0,8em;
    font-weight: 200;
    margin: 2rem 1rem 0,2rem 0; }
  .devolucion div p {
    margin-top: 2rem;
    font-family: 'Lato', sans-serif;
    font-size: 0,1em;
    font-weight: 300; }
  .devolucion div ul {
    margin-top: 2rem; }
    .devolucion div ul li {
      list-style: none;
      font-family: 'Lato', sans-serif;
      text-transform: none;
      font-size: 0,1em;
      font-weight: 300;
      padding-top: 0.8rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Cormorant', serif;
  background-color: #FFFCF0; }

/*boton de busqueda*/
.search {
  display: table; }
  .search input {
    color: #7D5F4E;
    background: none;
    border: none;
    outline: none;
    width: 28px;
    min-width: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    line-height: 18px;
    margin: 5px 0;
    font-size: 14px;
    -webkit-appearance: none;
    transition: all .6s ease;
    cursor: pointer;
    color: #7D5F4E; }
    .search input + div {
      position: relative;
      height: 28px;
      width: 100%;
      margin: -28px 0 0 0; }
      .search input + div svg {
        display: block;
        position: absolute;
        height: 28px;
        width: 160px;
        right: 0;
        top: 0;
        fill: none;
        stroke: #7D5F4E;
        stroke-width: 1.5px;
        stroke-dashoffset: 271.908;
        stroke-dasharray: 59 212.908;
        transition: all .6s ease; }
    .search input:not(:placeholder-shown), .search input:focus {
      width: 160px;
      padding: 0 4px;
      cursor: text; }
      .search input:not(:placeholder-shown) + div svg, .search input:focus + div svg {
        stroke-dasharray: 150 212.908;
        stroke-dashoffset: 300; }

::selection {
  background: rgba(125, 95, 78, 0.2); }

::-moz-selection {
  background: rgba(125, 95, 78, 0.2); }

.formulario > div {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column; }

/*tienda html*/
/* grids de tienda */
aside ol li a {
  color: #CB997E;
  font-family: 'Cormorant', serif;
  text-decoration: none; }

.grids {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  /*Aca defino las areas del grid, piensen como si todo el contenido de mi pagina estuviera en en rectangulo de 4 filas y 3 columnas (en este caso. Ustedes podrian definir la cantidad de filas y columnas que deseen*/
  grid-template-areas: "header           header           header           header" "aside            section          section          section" "aside            section          section          section" "footer           footer           footer           footer"; }

/*En esta parte referencio cada una de las clases que estan en el html al area que va a ocupar en la grilla, como no tengo contenido les doy a algunas un tamaño minimo para que se vea bien la idea*/
.header {
  grid-area: header; }

.contenedor {
  grid-area: section; }

.aside {
  grid-area: aside;
  padding: 30px;
  margin: 30px 20px; }

footer {
  grid-area: footer; }

.padreTienda {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  list-style: none; }
  .padreTienda .tiendaPrenda {
    padding: 20px 15px;
    margin: 10px; }
  .padreTienda .prendaUna {
    width: 150px;
    border-radius: 48%; }
    .padreTienda .prendaUna :hover {
      opacity: 0.4; }
  .padreTienda h3 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 300;
    margin-top: 10px; }
  .padreTienda .producto {
    margin: 20px;
    width: 20px; }

/* termina grids*/
/*bloque marron de index al principio*/
#cuotas {
  background-color: #7D5F4E;
  padding: 0.2rem; }
  #cuotas p {
    margin-bottom: 0;
    color: #FFF1E6;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: center; }

footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: #7D5F4E;
  /*devolucion*/ }
  footer div {
    flex-direction: row;
    margin: 1rem; }
    footer div div h4 {
      color: #EDDCD2;
      text-transform: uppercase;
      font-family: 'Cormorant', serif;
      font-size: 1.2em;
      font-weight: 300; }
    footer div div form {
      display: inline-flex; }
      footer div div form #newsletter {
        margin: 1rem;
        border: 1px solid #EDDCD2;
        font-weight: 300;
        font-size: 0.6em;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        border-radius: 50px;
        padding: 10px 60px;
        letter-spacing: 1px;
        color: #CB997E;
        box-shadow: none; }
      footer div div form .actions .btn-action {
        font-family: 'Cormorant', serif;
        color: #7D5F4E;
        background-color: #F0EFEB;
        font-size: 14px;
        letter-spacing: 1px;
        overflow: hidden;
        position: relative;
        padding: 10px 30px;
        display: inline-block;
        margin: 20px 0;
        border-radius: 50px;
        text-transform: uppercase;
        font-weight: 300;
        border: none;
        transition: all .3s ease-out;
        backface-visibility: hidden; }
  footer div .devolucion {
    margin: 20px;
    padding: 0.8rem; }
    footer div .devolucion div h3 {
      color: #FFF1E6;
      text-transform: uppercase; }
  footer div {
    margin: 10px; }
    footer div a {
      color: #FFF1E6;
      text-decoration: none;
      font-size: 1em; }
    footer div #redes {
      margin-left: 3rem; }
      footer div #redes #instagram, footer div #redes #facebook {
        margin: 0.5rem; }

/*MEDIAS QUERIES*/
@media only screen and (max-width: 768px) {
  .grids {
    grid-template-areas: "header           header           header           header" "aside            section          section          section" "aside            section          section          section" "footer           footer           footer           footer"; }
  /*nuevo*/
  .nuevo {
    flex-direction: column; }
  /*sale*/
  .hijoSale {
    flex-direction: column; } }

@media only screen and (min-width: 768px) {
  .grids {
    grid-template-areas: "header           header           header           header" "aside           section          section          section" "aside        section          section          section" "footer           footer           footer           footer"; }
  /*index*/
  .contenedor_sale .sale img {
    width: 8rem; } }

@media screen and (max-width: 640px) {
  /*celu*/
  .grid_productos {
    grid-template-columns: repeat(1, auto); }
  .grids {
    grid-template-areas: "header           header           header           header" "aside            aside           aside            aside" "section         section          section          section" "section         section          section          section" "footer           footer           footer           footer"; }
  header #hamburguesa {
    display: block; }
  header label {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 10px; }
  header nav {
    position: absolute;
    background-color: #FFFCF0;
    width: 70%;
    margin-left: -70%;
    transition: all 0.6s;
    z-index: 500;
    margin-top: 10px; }
  header ul {
    flex-direction: column; }
  header li {
    border-top: 1px solid; }
  #btn-menu:checked ~ nav {
    margin: 0;
    display: block; }
  .productos {
    display: block; }
    .productos .productosHijo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1.3rem; }
  .padre_recomendacion .recomendacion {
    flex-direction: column;
    align-items: center; }
    .padre_recomendacion .recomendacion h4 {
      font-size: 1em; }
  /*nosotros html*/
  section .video {
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center; }
  .localesMarie .locales .tiendas #tienda {
    width: 100%;
    margin: 0; }
  /*fin nosotros html*/
  footer {
    flex-direction: column;
    text-align: center; }
    footer div div form {
      display: block; }
      footer div div form #newsletter {
        margin: 0; }
  /*sale*/
  .hijoSale {
    flex-direction: column; } }
