/*portada index*/   
.coleccion{
    .coleccion_portada{
      .fotoPortada{
        width: 100%;
      }
    }
  }     
  /*bloques de colores prendas en index*/

.grid_productos{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, auto);
    .productosHijo{
      padding: 3rem;
      &:hover{
        opacity: 0.4;
      }
      a{
      text-transform: uppercase;
      font-size: 1.5em;
      font-weight: 300;
      text-align: center;
      text-decoration: none;
      }
      }
      .sueter{
        color: $coloroscuro;
        background-color: $color;
      }
      .vestidos{
        color: $color;
        background-color: $colormarronclaro;
      }
      .kimonos{
        color: $coloroscuro;
        background-color: $colorclaro;
      }
      .camisas{
        color: $color;
        background-color: $coloroscuro;
      }
    }
  /* 3 fotos sale index*/            
  .contenedor_sale{
                  margin-top: 1.9rem;
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 2rem;
                  article{
                    
                    margin: 1rem;
                    h3{
                      text-transform: uppercase;
                      font-size: 1.7em;
                      text-align: center;
                      font-weight: 300;
                      }
                  }
                  .sale{
                    text-align: center;
                    padding: 0.8rem;
                    img{
                      width: 12.5rem;
                      height: auto;
                      border-radius: 45%;
                      margin: 0.625rem;
                      border: none;
                    }
                    img:hover{
                      opacity: 0.4;
                    }
                    h4{
                      display: none;
                    }
                    h4:hover{
                      display: block;
                      text-transform: uppercase;
                      text-align: center;
                      font-size: 1em;
                      color: $coloroscuro;
                    }
                  }
                  article{
                    p{
                      text-align: center;
                      font-size: 1em;
                    }
                  }
                  
  }
  /*bloque marron recomendaciones index*/
  .padre_recomendacion{
    .recomendacion{
      color: $color;
      background-color: $colormarronclaro;
      padding: 2.5rem;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: baseline;
      .recomendacion_primera, .recomendacion_segunda, .recomendacion_tercera, .recomendacion_cuarta {
                              text-align: center;
                              padding: 10px;
                              margin: 10px;
                              h4{
                                text-transform: uppercase;
                                font-size: 1.1em;
                                font-weight: 300;
                                margin:0.625rem;
                              }
                              p{
                                font-family: 'Lato', sans-serif;
                                font-weight: lighter;
                                font-size: 0.8em;
                              }
      }
    }
  }