.padre_sesion{
  height: 60vh;
  .sesion{
    padding-top: 2rem;
    text-align: center;
    width: 60%;
      margin: auto;
      h1{
        text-transform: uppercase;
        color: $coloroscuro;
        font-size: 1.2em;
        margin-bottom: 2rem;
      }
      label{
        font-family: 'Lato', sans-serif;
        font-size: 0.9em;
      }
      input{
      background-color: #FFFCF0;
      margin-bottom: 15px;
      width: 100%;
      border: 1px solid #c2c2c2;
      border-radius: 30px;
      border-color: #e5e5e5;
      height: 40px;
      padding: 0 9px;
      }
      .recordar{
        width: 0.7rem;
        
      }
      .iniciar{
        
        background-color: $colorceleste;
        font-family: 'Cormorant', serif;
        text-transform: uppercase;
        color: $coloroscuro;
        width: 40%;
  
      }
  
  }
  }