section{
    display: flex;
    justify-content: center;
  .sesion{
    text-align: center;
    width: 500px;
      margin: 30px;
      h1{
        text-transform: uppercase;
        color: $coloroscuro;
        font-size: 1.2em;
        margin-bottom: 2rem;
      }
      label{
        font-family: 'Lato', sans-serif;
        font-size: 0.9em;
      }
      input{
      margin-bottom: 15px;
      width: 100%;
      border: 1px solid #c2c2c2;
      border-radius: 0;
      border-color: #e5e5e5;
      height: 40px;
      padding: 0 9px;
      }
      .iniciar{
        background-color: $colorceleste;
        font-family: 'Cormorant', serif;
        text-transform: uppercase;
        color: $coloroscuro;
        border-radius: 45%;
        width: 40%;
  
      }
  
  }
  }