section{
  ol{
    li{
      a{
        color: $colormarronclaro;
        font-family: 'Cormorant', serif;
        text-decoration: none;
        
      }
    }
  }
}
section{
    .video{
      display: flex;
      padding: 20px;
      margin: 15px;
    }
    .texto{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 15px;
      padding: 20px;
      h2{
        text-transform: uppercase;
        color: $colormarronclaro;
        font-weight: 200;
        font-size: 1.7em;
      }
        .todosJuntos{
          text-align: left;
          font-style: normal;
          color: $coloroscuro;
        }
    }
  }
  .localesMarie{
    text-align: center;
    margin-bottom: 4rem;
    #ubicacion{
      text-align: center;
      margin: 3rem;
      h2{
        text-transform: uppercase;
        color: $coloroscuro;
        font-weight: 200;
        font-size: 2em;
        .direccion{
          font-style: normal;
          color: $coloroscuro;
          font-family: 'Lato', sans-serif;
        }
      }}
    .locales{
      .tiendas{
        margin-bottom: 3rem;
        #tienda{
              margin: 1rem;
        }
        h3{
          color: $coloroscuro;
          text-transform: uppercase;
          font-size: 1.2em;
          font-weight: 200;
        }
        .direccion{
          font-size: 0.8em;
          color: $coloroscuro;
          font-family: 'Lato', sans-serif;
        }
      }
    }
  }
